### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# Define file path and import dataset
url1 = "C:/Users/USER/my_workspace/synapse/loan-default-risk/data/raw/loan_applications.csv"
df1 = pd.read_csv(url1)
print(df1)

                            customerid  systemloanid  loannumber  \
0     8a2a81a74ce8c05d014cfb32a0da1049     301994762          12
1     8a85886e54beabf90154c0a29ae757c0     301965204           2
2     8a8588f35438fe12015444567666018e     301966580           7
3     8a85890754145ace015429211b513e16     301999343           3
4     8a858970548359cc0154883481981866     301962360           9
...                                ...           ...         ...
4363  8a858e6d58b0cc520158beeb14b22a5a     302003163           2
4364  8a858ee85cf400f5015cf44ab1c42d5c     301998967           2
4365  8a858f365b2547f3015b284597147c94     301995576           3
4366  8a858f935ca09667015ca0ee3bc63f51     301977679           2
4367  8a858fd458639fcc015868eb14b542ad     301967124           8

                    approveddate                creationdate  loanamount  \
0     2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000     30000.0
1     2017-07-05 17:04:41.000000  2017-07-05 16:04:18.000000     15000.0
2     2017-07-06 14:52:57.000000  2017-07-06 13:52:51.000000     20000.0
3     2017-07-27 19:00:41.000000  2017-07-27 18:00:35.000000     10000.0
4     2017-07-03 23:42:45.000000  2017-07-03 22:42:39.000000     40000.0
...                          ...                         ...         ...
4363  2017-07-30 09:19:42.000000  2017-07-30 08:18:30.000000     10000.0
4364  2017-07-27 15:35:47.000000  2017-07-27 14:35:40.000000     10000.0
4365  2017-07-25 16:25:57.000000  2017-07-25 15:24:47.000000     10000.0
4366  2017-07-14 13:50:27.000000  2017-07-14 12:50:21.000000     10000.0
4367  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000     30000.0

      totaldue  termdays                        referredby good_bad_flag
0      34500.0        30                               NaN          Good
1      17250.0        30                               NaN          Good
2      22250.0        15                               NaN          Good
3      11500.0        15                               NaN          Good
4      44000.0        30                               NaN          Good
...        ...       ...                               ...           ...
4363   13000.0        30                               NaN           Bad
4364   13000.0        30                               NaN           Bad
4365   11500.0        15                               NaN           Bad
4366   13000.0        30  8a858eda5c8863ff015c9dead65807bb           Bad
4367   34500.0        30                               NaN           Bad

[4368 rows x 10 columns]

In [3]:
# Data Exploration
df1.duplicated().sum()
df1.info()
df1.isna().sum()
df1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4368 non-null   object
 1   systemloanid   4368 non-null   int64
 2   loannumber     4368 non-null   int64
 3   approveddate   4368 non-null   object
 4   creationdate   4368 non-null   object
 5   loanamount     4368 non-null   float64
 6   totaldue       4368 non-null   float64
 7   termdays       4368 non-null   int64
 8   referredby     587 non-null    object
 9   good_bad_flag  4368 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 341.4+ KB

(4368, 10)

In [4]:
# Drop referredby column 
df1 = df1.drop(columns=['referredby'])
print(df1.info())
print(df1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4368 non-null   object
 1   systemloanid   4368 non-null   int64
 2   loannumber     4368 non-null   int64
 3   approveddate   4368 non-null   object
 4   creationdate   4368 non-null   object
 5   loanamount     4368 non-null   float64
 6   totaldue       4368 non-null   float64
 7   termdays       4368 non-null   int64
 8   good_bad_flag  4368 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 307.3+ KB
None
(4368, 9)

In [5]:
# Save cleaned dataset
df1.to_csv(r"C:\Users\USER\my_workspace\synapse\loan-default-risk\data\interim\loan_applications.csv", index=False)