# Import Important Libraries

In [ ]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Load Data

In [ ]:
# Define filepath and load 
url = "../data/raw/customer_banking_profile.csv"
df2 = pd.read_csv(url)

### Explore Dataset

In [ ]:
print(df2.info())
print(df2.describe())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customerid                  4346 non-null   object
 1   birthdate                   4346 non-null   object
 2   bank_account_type           4346 non-null   object
 3   longitude_gps               4346 non-null   float64
 4   latitude_gps                4346 non-null   float64
 5   bank_name_clients           4346 non-null   object
 6   bank_branch_clients         51 non-null     object
 7   employment_status_clients   3698 non-null   object
 8   level_of_education_clients  587 non-null    object
dtypes: float64(2), object(7)
memory usage: 305.7+ KB
None
       longitude_gps  latitude_gps
count    4346.000000   4346.000000
mean        4.626189      7.251356
std         7.184832      3.055052
min      -118.247009    -33.868818
25%         3.354953      6.470610
50%         3.593302      6.621888
75%         6.545220      7.425052
max       151.209290     71.228069
(4346, 9)

In [ ]:
# Check uniqueness 
df2['customerid'].nunique()

4334

In [ ]:
# Check nulls
df2['customerid'].isnull().sum()

np.int64(0)

In [ ]:
# Check duplicates
df2['customerid'].duplicated().sum()
# Drop duplicates
df2 = df2.drop_duplicates(subset=['customerid'])
print(df2.info())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 4334 entries, 0 to 4345
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customerid                  4334 non-null   object
 1   birthdate                   4334 non-null   object
 2   bank_account_type           4334 non-null   object
 3   longitude_gps               4334 non-null   float64
 4   latitude_gps                4334 non-null   float64
 5   bank_name_clients           4334 non-null   object
 6   bank_branch_clients         51 non-null     object
 7   employment_status_clients   3686 non-null   object
 8   level_of_education_clients  586 non-null    object
dtypes: float64(2), object(7)
memory usage: 338.6+ KB
None
(4334, 9)

In [ ]:
# Drop columns
df2 = df2.drop(['bank_branch_clients', 'level_of_education_clients'], axis=1)
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4334 entries, 0 to 4345
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerid                 4334 non-null   object
 1   birthdate                  4334 non-null   object
 2   bank_account_type          4334 non-null   object
 3   longitude_gps              4334 non-null   float64
 4   latitude_gps               4334 non-null   float64
 5   bank_name_clients          4334 non-null   object
 6   employment_status_clients  3686 non-null   object
dtypes: float64(2), object(5)
memory usage: 270.9+ KB
None

In [ ]:
# Fill nulls in employment_status
df2['employment_status_clients'].fillna('Unknown', inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_26856\436855755.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['employment_status_clients'].fillna('Unknown', inplace=True)

In [ ]:
# Convert birthdate to age
df2['birthdate'] = pd.to_datetime(df2['birthdate'])
df2['age'] = (pd.Timestamp.now() - df2['birthdate']).dt.days // 365
df2 = df2.drop('birthdate', axis=1)
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4334 entries, 0 to 4345
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerid                 4334 non-null   object
 1   bank_account_type          4334 non-null   object
 2   longitude_gps              4334 non-null   float64
 3   latitude_gps               4334 non-null   float64
 4   bank_name_clients          4334 non-null   object
 5   employment_status_clients  4334 non-null   object
 6   age                        4334 non-null   int64
dtypes: float64(2), int64(1), object(4)
memory usage: 270.9+ KB
None

### Geo Mapping

In [ ]:
# Load Nigeria States
states = gpd.read_file("../data/geospatial/gadm41_NGA_1.shp")

In [ ]:
# convert customer data to GeoDataFrame
geometry = [Point(xy) for xy in zip(df2.longitude_gps, df2.latitude_gps)]
gdf2 = gpd.GeoDataFrame(df2, geometry=geometry, crs="EPSG:4326")

In [ ]:
# assign state using spatial join
gdf2 = gpd.sjoin(
    gdf2,
    states[['NAME_1', 'geometry']],
    how='left',
    predicate='within'
)

In [ ]:
# clean column
gdf2.rename(columns={'NAME_1': 'state'}, inplace=True)

In [ ]:
# save
gdf2.drop(columns='geometry').to_csv(
    "customer_banking_profile_cleaned.csv",
    index=False
)

In [ ]:
# Sanity check
gdf2['state'].value_counts().head()

state
Lagos                        1924
Federal Capital Territory     353
Oyo                           352
Ogun                          336
Rivers                        175
Name: count, dtype: int64

In [ ]:
# State mapping to df2
state_mapping = gdf2[['customerid', 'state']].copy()
df2 = df2.merge(state_mapping, on='customerid', how='left')

In [ ]:
# Inspect final dataframe
print(df2.info())
print(df2.describe())
print(df2.shape)
print(df2.head(50))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4334 entries, 0 to 4333
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerid                 4334 non-null   object
 1   bank_account_type          4334 non-null   object
 2   longitude_gps              4334 non-null   float64
 3   latitude_gps               4334 non-null   float64
 4   bank_name_clients          4334 non-null   object
 5   employment_status_clients  4334 non-null   object
 6   age                        4334 non-null   int64
 7   state                      4293 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.0+ KB
None
       longitude_gps  latitude_gps          age
count    4334.000000   4334.000000  4334.000000
mean        4.624000      7.249975    40.952469
std         7.194031      3.056594     6.142477
min      -118.247009    -33.868818    29.000000
25%         3.354857      6.470610    37.000000
50%         3.591668      6.621730    40.000000
75%         6.543691      7.425021    45.000000
max       151.209290     71.228069    64.000000
(4334, 8)
                          customerid bank_account_type  longitude_gps  \
0   8a858e135cb22031015cbafc76964ebd           Savings       3.319219
1   8a858e275c7ea5ec015c82482d7c3996           Savings       3.325598
2   8a858e5b5bd99460015bdc95cd485634           Savings       5.746100
3   8a858efd5ca70688015cabd1f1e94b55           Savings       3.362850
4   8a858e785acd3412015acd48f4920d04           Savings       8.455332
5   8a858f045bc9690c015bca251e9a4e95           Savings       3.330087
6   8a858ea05a859123015a8892914d15b7           Savings       3.365935
7   8a858f275c451af5015c546a50ce55ed           Savings       4.734382
8   8a858f405d13c45f015d13dd93ec0c1c           Savings       3.290590
9   8a858f735c161bda015c164d86632026           Savings       3.362783
10  8a858f2a5ce989dd015ce9fc24b1474b           Savings       3.350238
11  8a858f3a5c10828d015c109746d20aee           Savings       5.768004
12  8a858fb4563228d201564fd7519f22a8             Other       3.381093
13  8a858e9d59e0997b0159eae2e4fa7611           Savings       3.372510
14  8a858f955a61ad4e015a69ee1edd0d3d           Savings       3.357961
15  8a858ff25a6a19ee015a6abff5ed659c           Savings       7.507836
16  8a858e6c5c88d145015c894de1a91c5c           Savings       3.363275
17  8a858eb45876dcc501587dae11f2283e           Savings       6.974436
18  8a858f2f54e28d530154ecdd303004fa           Savings       3.478483
19  8a858fef570f30e501571fd446d44c81           Savings       4.568407
20  8a858f6c570f2d660157238b0c4a1bdd             Other       7.040890
21  8a85893d542e18bc01542e37365c120a           Savings       3.363926
22  8a8588f35438fe12015444567666018e             Other      11.139350
23  8a858f275c451af5015c49a2c43b5fb2           Savings       3.298768
24  8a858e045cd5b1d6015cd9c070a212a5           Savings       7.902896
25  8a858e2155defefd0155e12953ee00a1             Other       8.008510
26  8a858e4b5a7f868b015a80f3822d505b           Savings       3.392065
27  8a858f0056b7cf8e0156bbeefc4933cc             Other       3.294364
28  8a858f0e5a6171ba015a648137c361bc           Savings       3.385065
29  8a858f125c5f88b1015c603d2810428c           Savings       7.048184
30  8a858ee75a6156c0015a635f394a5f79           Savings       3.939552
31  8a858eed5af07cc4015af10da7565173           Savings       3.355340
32  8a858f445d41ebbe015d50c105334acc           Savings       3.214850
33  8a858f285d3ca5c4015d3cbb1f94073a           Current       7.035842
34  8a858f225bfdb280015c108bf6f53281           Savings       3.334334
35  8a858f6c5cac8f53015cafeb15141be1           Savings       3.359517
36  8a858f675c1c43bc015c2049f2d20224           Savings       3.428058
37  8a858f7e564ad338015654d3a5c242a5             Other       8.671328
38  8a858e165b90faf9015b9a873738471e           Savings       3.973972
39  8a858ea4582fcdc80158338316a258e3             Other       5.188997
40  8a858f3c5c16cadb015c177e274650b9           Savings       5.793689
41  8a858f2b5bf35819015bf3cc59193622           Savings       3.842152
42  8a858ec555f82a230155f92ff37d0b31             Other       7.410449
43  8a858f255cb1710a015cb56393f60d1b           Savings       3.319583
44  8a858f6f5b3f095b015b4083532532a0           Savings       3.516056
45  8a858fa257d8223c0157e7e6ce253dd8             Other       7.511357
46  8a858f335cd0c78e015cd435d7192800           Savings       2.957738
47  8a858953548fb0c001549b31ac5f6dda             Other       3.376734
48  8a858eba5b681df4015b7b63e6ed6a23           Savings       3.422972
49  8a858f8e5986f510015987965aa9183a           Savings       3.374096

    latitude_gps bank_name_clients employment_status_clients  age  \
0       6.528604           GT Bank                   Unknown   52
1       7.119403     Sterling Bank                 Permanent   39
2       5.563174     Fidelity Bank                   Unknown   38
3       6.642485           GT Bank                 Permanent   34
4      11.971410           GT Bank                 Permanent   43
5       6.552518           GT Bank                 Permanent   47
6       6.564823       Access Bank                 Permanent   35
7       7.606868           GT Bank                 Permanent   39
8       6.612075           EcoBank                 Permanent   33
9       6.509418           EcoBank                 Permanent   60
10      7.138162              FCMB                   Unknown   31
11      5.559055         Skye Bank                 Permanent   55
12      6.608266               UBA                   Student   31
13      6.518115       Zenith Bank                   Unknown   37
14      6.512517           GT Bank                 Permanent   39
15      9.048372           EcoBank                 Permanent   37
16      7.145507           GT Bank                 Permanent   37
17      4.811343       Access Bank                 Permanent   36
18      6.442001      Diamond Bank                 Permanent   42
19      7.503959           GT Bank             Self-Employed   38
20      5.794684       Zenith Bank             Self-Employed   35
21      7.138048       Zenith Bank                 Permanent   37
22     10.292041           EcoBank                 Permanent   41
23      6.681729     Sterling Bank                 Permanent   40
24      8.849744               UBA                   Unknown   40
25      4.545390        First Bank                 Permanent   36
26      6.508368           GT Bank                 Permanent   38
27      6.545747           EcoBank             Self-Employed   44
28      6.565973           GT Bank                 Permanent   32
29      4.842690           GT Bank                 Permanent   41
30      7.411819       Access Bank                 Permanent   43
31      6.512503           GT Bank                 Permanent   49
32      6.538267           GT Bank                   Unknown   39
33      4.805015           GT Bank                 Permanent   48
34      6.522370        Union Bank                 Permanent   38
35      6.610617           GT Bank                 Permanent   33
36      6.432365       Access Bank                 Permanent   49
37      9.083013           GT Bank                 Permanent   37
38      7.372748       Access Bank                 Permanent   38
39      7.282692              FCMB                 Permanent   46
40      5.558499       Zenith Bank                 Permanent   49
41      7.328407           GT Bank                 Permanent   40
42      9.107848       Zenith Bank             Self-Employed   42
43      6.569454         Skye Bank                 Permanent   52
44      6.669718       Access Bank                 Permanent   34
45      9.125593       Access Bank                 Permanent   37
46      6.534212           GT Bank                 Permanent   44
47      6.547795      Stanbic IBTC                Unemployed   40
48      6.465229        First Bank                 Permanent   37
49      6.599176      Diamond Bank                 Permanent   46

                        state
0                       Lagos
1                        Ogun
2                       Delta
3                       Lagos
4                        Kano
5                       Lagos
6                       Lagos
7                        Osun
8                       Lagos
9                       Lagos
10                       Ogun
11                      Delta
12                      Lagos
13                      Lagos
14                      Lagos
15  Federal Capital Territory
16                       Ogun
17                     Rivers
18                      Lagos
19                       Osun
20                        Imo
21                       Ogun
22                      Gombe
23                      Lagos
24                   Nasarawa
25                  Akwa Ibom
26                      Lagos
27                      Lagos
28                      Lagos
29                     Rivers
30                        Oyo
31                      Lagos
32                      Lagos
33                     Rivers
34                      Lagos
35                      Lagos
36                      Lagos
37                   Nasarawa
38                        Oyo
39                       Ondo
40                      Delta
41                        Oyo
42  Federal Capital Territory
43                      Lagos
44                      Lagos
45  Federal Capital Territory
46                       Ogun
47                      Lagos
48                      Lagos
49                      Lagos

In [ ]:
# Save cleaned dataset
df2.to_csv(r"..\data\interim\customer_banking_profile.csv", index=False)