In [ ]:
# Load Important Libraries
import pandas as pd

In [3]:
# Define filepath 
path = "C:/Users/USER/my_workspace/synapse/loan-default-risk/data/raw/loan_repayment_history.csv"

In [5]:
# Load dataset
df = pd.read_csv(path)
print(df.head())

                         customerid  systemloanid  loannumber  \
0  8a2a81a74ce8c05d014cfb32a0da1049     301682320           2
1  8a2a81a74ce8c05d014cfb32a0da1049     301883808           9
2  8a2a81a74ce8c05d014cfb32a0da1049     301831714           8
3  8a8588f35438fe12015444567666018e     301861541           5
4  8a85890754145ace015429211b513e16     301941754           2

                 approveddate                creationdate  loanamount  \
0  2016-08-15 18:22:40.000000  2016-08-15 17:22:32.000000     10000.0
1  2017-04-28 18:39:07.000000  2017-04-28 17:38:53.000000     10000.0
2  2017-03-05 10:56:25.000000  2017-03-05 09:56:19.000000     20000.0
3  2017-04-09 18:25:55.000000  2017-04-09 17:25:42.000000     10000.0
4  2017-06-17 09:29:57.000000  2017-06-17 08:29:50.000000     10000.0

   totaldue  termdays                  closeddate referredby  \
0   13000.0        30  2016-09-01 16:06:48.000000        NaN
1   13000.0        30  2017-05-28 14:44:49.000000        NaN
2   23800.0        30  2017-04-26 22:18:56.000000        NaN
3   11500.0        15  2017-04-24 01:35:52.000000        NaN
4   11500.0        15  2017-07-14 21:18:43.000000        NaN

                 firstduedate             firstrepaiddate
0  2016-09-14 00:00:00.000000  2016-09-01 15:51:43.000000
1  2017-05-30 00:00:00.000000  2017-05-26 00:00:00.000000
2  2017-04-04 00:00:00.000000  2017-04-26 22:03:47.000000
3  2017-04-24 00:00:00.000000  2017-04-24 00:48:43.000000
4  2017-07-03 00:00:00.000000  2017-07-14 21:08:35.000000