# Feature Enginerring 
- engineer more features 
- aggregate repayment_history
- merge final table
- save table ready for machine and neural network

### Data Aggregation
since it has multiple records to one customer and the dataset is mostly/all about customer with repeated loan takes
one to many relationship

In [30]:
# Import Libraries 
import pandas as pd

In [31]:
# Load the cleaned datasets
df1 = pd.read_csv(r"..\data\interim\loan_applications.csv")
df2 = pd.read_csv(r"..\data\interim/customer_banking_profile.csv")
df3 = pd.read_csv(r"..\data\interim/repayment_history.csv")

In [32]:
# Inspect dataset
print(df1.info())
print(df1.shape)
print(df2.info())
print(df2.shape)
print(df3.info())
print(df3.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4368 non-null   object
 1   systemloanid   4368 non-null   int64
 2   loannumber     4368 non-null   int64
 3   approveddate   4368 non-null   object
 4   creationdate   4368 non-null   object
 5   loanamount     4368 non-null   float64
 6   totaldue       4368 non-null   float64
 7   termdays       4368 non-null   int64
 8   good_bad_flag  4368 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 307.3+ KB
None
(4368, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4334 entries, 0 to 4333
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerid                 4334 non-null   object
 1   bank_account_type          4334 non-null   object
 2   longitude_gps              4334 non-null   float64
 3   latitude_gps               4334 non-null   float64
 4   bank_name_clients          4334 non-null   object
 5   employment_status_clients  4334 non-null   object
 6   age                        4334 non-null   int64
 7   state                      4293 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.0+ KB
None
(4334, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18183 entries, 0 to 18182
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerid       18183 non-null  object
 1   systemloanid     18183 non-null  int64
 2   loannumber       18183 non-null  int64
 3   approveddate     18183 non-null  object
 4   creationdate     18183 non-null  object
 5   loanamount       18183 non-null  float64
 6   totaldue         18183 non-null  float64
 7   termdays         18183 non-null  int64
 8   closeddate       18183 non-null  object
 9   firstduedate     18183 non-null  object
 10  firstrepaiddate  18183 non-null  object
dtypes: float64(2), int64(3), object(6)
memory usage: 1.5+ MB
None
(18183, 11)

In [33]:
# Merging loan_app + customer_profile
loan_base = df1.merge(
    df2,
    on="customerid",
    how="left"
)

In [34]:
# Inspect
print(loan_base.head())
print(loan_base.shape)
print(loan_base.info)

                         customerid  systemloanid  loannumber  \
0  8a2a81a74ce8c05d014cfb32a0da1049     301994762          12
1  8a85886e54beabf90154c0a29ae757c0     301965204           2
2  8a8588f35438fe12015444567666018e     301966580           7
3  8a85890754145ace015429211b513e16     301999343           3
4  8a858970548359cc0154883481981866     301962360           9

                 approveddate                creationdate  loanamount  \
0  2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000     30000.0
1  2017-07-05 17:04:41.000000  2017-07-05 16:04:18.000000     15000.0
2  2017-07-06 14:52:57.000000  2017-07-06 13:52:51.000000     20000.0
3  2017-07-27 19:00:41.000000  2017-07-27 18:00:35.000000     10000.0
4  2017-07-03 23:42:45.000000  2017-07-03 22:42:39.000000     40000.0

   totaldue  termdays good_bad_flag bank_account_type  longitude_gps  \
0   34500.0        30          Good             Other       3.432010
1   17250.0        30          Good           Savings       3.885298
2   22250.0        15          Good             Other      11.139350
3   11500.0        15          Good           Savings       3.985770
4   44000.0        30          Good             Other       7.457913

   latitude_gps bank_name_clients employment_status_clients   age  \
0      6.433055      Diamond Bank                 Permanent  53.0
1      7.320700           GT Bank                 Permanent  40.0
2     10.292041           EcoBank                 Permanent  41.0
3      7.491708        First Bank                 Permanent  48.0
4      9.076574           GT Bank                 Permanent  39.0

                       state
0                      Lagos
1                        Oyo
2                      Gombe
3                        Oyo
4  Federal Capital Territory
(4368, 16)
<bound method DataFrame.info of                             customerid  systemloanid  loannumber  \
0     8a2a81a74ce8c05d014cfb32a0da1049     301994762          12
1     8a85886e54beabf90154c0a29ae757c0     301965204           2
2     8a8588f35438fe12015444567666018e     301966580           7
3     8a85890754145ace015429211b513e16     301999343           3
4     8a858970548359cc0154883481981866     301962360           9
...                                ...           ...         ...
4363  8a858e6d58b0cc520158beeb14b22a5a     302003163           2
4364  8a858ee85cf400f5015cf44ab1c42d5c     301998967           2
4365  8a858f365b2547f3015b284597147c94     301995576           3
4366  8a858f935ca09667015ca0ee3bc63f51     301977679           2
4367  8a858fd458639fcc015868eb14b542ad     301967124           8

                    approveddate                creationdate  loanamount  \
0     2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000     30000.0
1     2017-07-05 17:04:41.000000  2017-07-05 16:04:18.000000     15000.0
2     2017-07-06 14:52:57.000000  2017-07-06 13:52:51.000000     20000.0
3     2017-07-27 19:00:41.000000  2017-07-27 18:00:35.000000     10000.0
4     2017-07-03 23:42:45.000000  2017-07-03 22:42:39.000000     40000.0
...                          ...                         ...         ...
4363  2017-07-30 09:19:42.000000  2017-07-30 08:18:30.000000     10000.0
4364  2017-07-27 15:35:47.000000  2017-07-27 14:35:40.000000     10000.0
4365  2017-07-25 16:25:57.000000  2017-07-25 15:24:47.000000     10000.0
4366  2017-07-14 13:50:27.000000  2017-07-14 12:50:21.000000     10000.0
4367  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000     30000.0

      totaldue  termdays good_bad_flag bank_account_type  longitude_gps  \
0      34500.0        30          Good             Other       3.432010
1      17250.0        30          Good           Savings       3.885298
2      22250.0        15          Good             Other      11.139350
3      11500.0        15          Good           Savings       3.985770
4      44000.0        30          Good             Other       7.457913
...        ...       ...           ...               ...            ...
4363   13000.0        30           Bad               NaN            NaN
4364   13000.0        30           Bad           Savings       4.607358
4365   11500.0        15           Bad           Savings       3.976842
4366   13000.0        30           Bad           Savings       3.986089
4367   34500.0        30           Bad           Savings       3.725655

      latitude_gps bank_name_clients employment_status_clients   age  \
0         6.433055      Diamond Bank                 Permanent  53.0
1         7.320700           GT Bank                 Permanent  40.0
2        10.292041           EcoBank                 Permanent  41.0
3         7.491708        First Bank                 Permanent  48.0
4         9.076574           GT Bank                 Permanent  39.0
...            ...               ...                       ...   ...
4363           NaN               NaN                       NaN   NaN
4364      8.460608              FCMB                 Permanent  36.0
4365      7.409129        First Bank                 Permanent  36.0
4366      7.386796         Skye Bank                 Permanent  35.0
4367      6.474430           GT Bank                   Unknown  37.0

                          state
0                         Lagos
1                           Oyo
2                         Gombe
3                           Oyo
4     Federal Capital Territory
...                         ...
4363                        NaN
4364                      Kwara
4365                        Oyo
4366                        Oyo
4367                      Lagos

[4368 rows x 16 columns]>

In [35]:
# Drop columns 
loan_base = loan_base.drop(['longitude_gps', 'latitude_gps'], axis=1)
print(loan_base.info())
print(loan_base.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerid                 4368 non-null   object
 1   systemloanid               4368 non-null   int64
 2   loannumber                 4368 non-null   int64
 3   approveddate               4368 non-null   object
 4   creationdate               4368 non-null   object
 5   loanamount                 4368 non-null   float64
 6   totaldue                   4368 non-null   float64
 7   termdays                   4368 non-null   int64
 8   good_bad_flag              4368 non-null   object
 9   bank_account_type          3269 non-null   object
 10  bank_name_clients          3269 non-null   object
 11  employment_status_clients  3269 non-null   object
 12  age                        3269 non-null   float64
 13  state                      3232 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 477.9+ KB
None
       systemloanid   loannumber    loanamount      totaldue     termdays  \
count  4.368000e+03  4368.000000   4368.000000   4368.000000  4368.000000
mean   3.019810e+08     5.172390  17809.065934  21257.377679    29.261676
std    1.343115e+04     3.653569  10749.694571  11943.510416    11.512519
min    3.019585e+08     2.000000  10000.000000  10000.000000    15.000000
25%    3.019691e+08     2.000000  10000.000000  13000.000000    30.000000
50%    3.019801e+08     4.000000  10000.000000  13000.000000    30.000000
75%    3.019935e+08     7.000000  20000.000000  24500.000000    30.000000
max    3.020040e+08    27.000000  60000.000000  68100.000000    90.000000

               age
count  3269.000000
mean     40.921383
std       6.137221
min      29.000000
25%      36.000000
50%      40.000000
75%      45.000000
max      64.000000